.topnav {
	height: 45px;
	width: 760px;
	margin-left: 755px;
	font-size: 25px;
	background-image: linear-gradient(to bottom right, #00bcd4, lightcyan);
}

.navigation {
	font-weight: bolder;
	padding: 5px 15px;
	text-decoration: none;
	font-family: cursive;	
	color: black;
}

.navigation:active {
	color: red;
}
footer {
	background-image: linear-gradient(to bottom right, #00bcd4, lightcyan);
}

.footer-content {
	text-align: center;
	margin: 5px;
	line-height: 2;
}

hr {
	border: 1px solid;
}
