.topnav {
			display: inline;
			font-size: 25px;
			background-image: linear-gradient(to bottom right, #00bcd4, #009688);
		}
	
		.navigation {
			font-weight: bolder;
			padding: 5px 15px;
			text-decoration: none;
			font-family: cursive;
			color: black;
		}

		.image {
			padding-top: 15px;
			position: absolute;
		}

		.firstImage {
			opacity: 60%;
		}
		
.title {
  position: absolute;
  top: 150px;
  right: 80px;
  font-size: 60px;
}
