.box {
	display: block;
	padding: 1% 2%;
}

.card {
	width: 350px;
	height: 200px;
	border: 1px solid #DCDCDC;
}

.card-header {
	font-size: 20px;
}

.card-image {
	align-self: center;
}

.circle-image {
	float: left;
	display: flex;
	margin: 25px 5px 25px 10px;
}

.content {
	line-height: 150%;
}

.image {
	padding-top: 15px;
}

.logo-image {
	padding: 10px 10px 10px 10px;
}

.name {
	padding: 25px 10px 0px 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.subheader {
	text-align:center;
}
		
.title {
	position: absolute;
	top: 150px;
	right: 80px;
	font-size: 60px;
}

.title-image {
	opacity: 60%;
}
