{% extends "master.html" %}

{% block contentHead %}
<link rel="stylesheet" href="{{ url_for('static', filename='contacts.css') }}">
{% endblock %}

{% block content %}
<div class="container-block">
	<div class="info">
		<p class="content"><b>Contacts:</b></p>
		<p class="content">Email address - introHTML@gmail.com</p>
		<p class="content">Phone number - +447748521687</p>
		<p class="content">Adress - Location address</p>
	</div>

	<div class="image">
		<img src="{{url_for('static', filename='images/location.jpg') }}" width="230" height="230">
	</div>
</div>

<hr>

<div class="container">
	<div class="info-content">
		<p class="helper-info">This is the place where you can find any contact details for sending an email or having a call. Another thing you can do is use the form to send a message directly.</p>
	</div>

	<div class="form">
		<form id="contact-form" name="sentMessage" novalidate="novalidate" action="{{url_for('test')}}" method="POST">
			<label>Name</label><br>
			<input name="subject" type="text" /><br>
			<label>Message</label><br>
			<textarea name="body"></textarea><br>
			<input type="submit" class="send-button" value="Send" /><br>
		</form>
	</div>
</div>

<hr>
    
{% endblock %}
