{% extends "master.html" %}

{% block contentHead %}
	<link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}">
{% endblock %}

{% block content %}

<h1><i>You have been redirected to this page in order to leave a comment in the discussion section. Please leave any comment or thought and click submit.</i></h1>

<form class="form"  method="post">
	<div class="name">    
        <label for="name">Your name:</label>
        <input type="text" name="name" placeholder="Post name" class="name-field" value="{{ request.form['name'] }}"></input>
    	</div>

    	<div class="comment">
        <label for="comment">Your comment:</label>
        <textarea name="comment" placeholder="Post comment" class="comment-field">{{ request.form['comment'] }}</textarea>
    	</div>
    	
	<div class="button">
        <button type="submit" class="submit">Submit</button>
    	</div>
</form>
{% endblock %}
