{% extends "cssMaster.html" %}

{% block contentTwo %}

<div class="examples">
	<div class="theoryContent">
		<p>CSS background property is used to define the background effects. Some of them are <i>background-color, background-image, etc. Background-color</i> specifies the color of the whole page or any box. There are other additional features such as <i>opacity</i> which can be set as well.</p>
	</div>

        <div class="arrow">
		&rarr;
        </div>

        <div class="codeExample">
		<p><i><span><</span> style <span>></span> <br> body { <br> <span>background-color:lightcyan;</span> <br> } <br> <span><</span> /style <span>></span></span> <br> <br> <span><</span>body <span>></span> <br> <span><</span>p<span>></span> This element is in the body and the page is in lightcyan. <span><</span>p<span>></span> <br> <span><</span>/body<span>></span> </i></p>
        </div>
</div>
    
<div class = "examples">
        <div class="theoryContent">
		<p><i>Background-image</i> specifies an image that is used as a background of an element. When adding a picture, you should be sure that it does not disturb the image and make it unreadable.</p> 
        </div>

        <div class="arrow">
		&rarr;
        </div>

        <div class="codeExample">
		<p><i><span><</span> style <span>></span> <br> body { <br> <span>background-image:url("pathToImage");</span> <br> } <br> <span><</span> /style <span>></span></span> <br> <br> <span><</span>body <span>></span> <br> <span><</span>p<span>></span> This element is in the body and there is a picture behind it.<span><</span>p<span>></span> <br> <span><</span>/body<span>></span> </i></p>
        </div>
</div>

<p class="end-paragraph">Here comes the end of the introduction to CSS Backgrounds. More informaton will be provided in the next lessons. Click the button to continue.</p>
    
<div class="button-container">
        <a href="/cssMarginPadding"><button class="next-button">NEXT</button></a>
</div>

{% endblock %}
