{% extends "cssMaster.html" %}

{% block contentTwo %}

<div class="examples">
	<div class="theoryContent">
		<p>CSS statement consists of a selector and declaration block. The selector is the HTML element you want to style. The declaration block contains property-value pairs separated by ';'</p>
	</div>

        <div class="arrow">
		&rarr;
        </div>

        <div class="codeExample">
		<p><i><span>h1 {</span> <br> <span>color:pink;</span> <br> <span>background-color:blue;</span> <br> <span>}</span></i></p>
        </div>
</div>
    
<div class = "examples">
        <div class="theoryContent">
		<p>The previous example used the CSS element Selector. This can be changed with any other selector which we need to add style to. <br> The <i>p</i> element can be changed with any other HTML element.</p> 
        </div>

        <div class="arrow">
		&rarr;
        </div>

        <div class="codeExample">
		<p><i><span>p {</span> <br> // Add code here <br> <span>}</span></i></p>
        </div>
</div>

<p class="end-paragraph">Here comes the end of the introduction to CSS Introduction and Syntax. More informaton will be provided in the next lessons. Click the button to continue.</p>
    
<div class="button-container">
        <a href="/cssSelectors"><button class="next-button">NEXT</button></a>
</div>

{% endblock %}
