{% extends "master.html" %}

{% block contentHead %}
	<link rel="stylesheet" href="{{ url_for('static', filename='knowledgePages.css') }}">
{% endblock %}

{% block content %}

<div class="pageInfo">
	<div class="content">
		<div class="image">
			<img src="{{ url_for('static', filename='images/cssLogo.png') }}" width="200" height="230"> 
		</div>

		<div class = "text">
			<p>CSS is an abbreviation of Cascading Style Sheets and it is a style sheet language. It is used for the visualisation of a document in a markup language such as HTML. It enables the saparation of elements and their visual representation. It can add colors, fonts, style text and images in many ways and many more. It improves accessibility and flexibility. Web pages can be easily transformed into something else later by changin the properties in the styles sheet. </p>
			<p>Formatting helps in displaying different pages with different format and styles. It has a simple syntax and uses English keywords to specify the names of the properties. It can be said that its content is a set of rules which consist of selectors and declaration block. The following sections show some of the basic properties.</p>
		</div>
	</div>
</div>

<div class = "secondnav">
	<a href="/cssIntro" class="navigationTwo">Syntax</a>
        <a href="/cssSelectors" class="navigationTwo">Selectors</a>
        <a href="/cssBackgrounds" class="navigationTwo">Backgrounds</a>
        <a href="/cssMarginPadding" class="navigationTwo">Margin & Padding</a>
        <a href="/cssText" class="navigationTwo">Text & Fonts</a>
</div>

	{% block contentTwo %}
	{% endblock %}

{% endblock %}
