{% extends "cssMaster.html" %}

{% block contentTwo %}

<div class="examples">
	<div class="theoryContent">
		<p>CSS text can have added color, background-color as we covered before. It can be also aligned in the center or any other direction. It can be tranformed and shadowed. Here is an example of text shadowing:</p>
	</div>

        <div class="arrow">
		&rarr;
        </div>

        <div class="codeExample">
		<p><i><span><</span>style<span>></span> <br> h1 { <br> text-shadow: 2px 2px; <br> } <br> <span><</span>/style<span>></span> <br><br> <span><</span>body<span>></span> <br> <span><</span>h1<span>></span> Text with effect. <span><</span>/h1<span>></span> <br> <span><</span>/body<span>></span> </i></p>
        </div>
</div>
    
<div class = "examples">
        <div class="theoryContent">
		<p>The CSS font properties define the font family, boldness, size and style. It can be from the Serif or Sans-serif family. <i>font-size</i> is simply used by adding the value which we need.</p> 
        </div>

        <div class="arrow">
		&rarr;
        </div>

        <div class="codeExample">
		<p><i><span><</span>style<span>></span> <br> h1 { <br> font-family: Impact, Charcoal, sans-serif; <br> } <br> <span><</span>/style<span>></span> <br><br> <span><</span>body<span>></span> <br> <span><</span>h1<span>></span> Text with different font. <span><</span>/h1<span>></span> <br> <span><</span>/body<span>></span> </i></p>
        </div>
</div>

<p class="end-paragraph">Here comes the end of the introduction to CSS Text and Fonts. More informaton will be provided in the next lessons. Click the button to continue.</p>
    
<div class="button-container">
	<a href="/jsIntro"><button class="next-button">NEXT</button></a>
</div>

{% endblock %}
