{% extends "master.html" %}

{% block contentHead %}
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesHome.css') }}">
{% endblock %}

{%block content %}
	<div class="image">
		<img src="{{ url_for('static', filename='images/webdev.jpg') }}" class="title-image" height="560">
		<p class="title">Learn the basics <br> to become a <br> web developer.</p>
	</div>

	<h2 class="subheader">What is to be a web developer?</h2>

	<div class="row">
		<div class="box">
			<div class="card">
				<div class="circle-image">
					<img src="{{ url_for('static', filename='images/circle-simona.png') }}" class="card-image" width="150" height="150">
				</div>
				<div class="name">
					<h2 class="card-header">Simona Georgieva</h2>
				</div>
				<div class="content">
					<p class="card-paragraph">Being a web developer is really challenging. Day by day you learn new things and techniques.</p>
				</div>
			</div>
		</div>
		
		<div class="box">
			<div class="card">
				<div class="circle-image">
					<img src="{{ url_for('static', filename='images/circle-ivan.png') }}" class="card-image" width="150" height="150">
				</div>
				<div class="name">
					<h2 class="card-header">Ivan Georgiev</h2>
				</div>
				<div class="content">
					<p class="card-paragraph">My professional experience has taught me that even the best developers need help from the web sometimes.</p>
				</div>
			</div>
		</div>
	</div>
	
	<h2 class="subheader">Let's begin</h2>

	<div class="row">
		<div class="box">
			<a href="/htmlIntro"><img src="{{ url_for('static', filename='images/htmlLogo.png') }}" class="logo-image" width="110" height="100"></a>
			<a href="/cssIntro"><img src="{{ url_for('static', filename='images/cssLogo.png') }}" class="logo-image" width="80" height="100"></a>
			<a href="/javascriptIntro"><img src="{{ url_for('static', filename='images/jsLogo.png') }}" class="logo-image" width="80" height="100"></a>
		</div>
	</div>
{% endblock %}
