{% extends "master.html" %}

{% block contentHead %}
	<link rel="stylesheet" href="{{ url_for('static', filename='knowledgePages.css') }}"> 
{% endblock %}

{% block content %}
<div class="pageInfo">
        <div class="content">
            <div class="image">
                <img src="{{ url_for('static', filename='images/htmlLogo.png') }}" width="230" height="230"> 
            </div>

            <div class = "text">
                <p>HTML is an abreviation of Hypertext Markup Language. It is used for documents that are used to be presented on a web browser. In addition to it, it can be added a Cascading Style Sheets (CSS) and a scripting languages such as JavaScript. HTML documents are sent to the web browser via a web server or from local storage and then they are rendered into the pages. It describes the structure of a page semantically. By using it and some other tools, you can create your own website!</p>
                <p>HTML elements are the ones making the web page full. It can contain different structures, images and other objects. HTML provides a structured document for all items. All of the elements are surrounded by tags which we will expore during the lessons. This tags are then styled using CSS. HTML can embed programs written in a scripting languages which add functionality to it.</p>
            </div>
        </div>
</div>

<div class = "secondnav">
        <a href="/htmlIntro" class="navigationTwo">Tags</a>
        <a href="/htmlAttributes" class="navigationTwo">Attributes</a>
        <a href="/htmlLists" class="navigationTwo">Lists</a>
        <a href="/htmlLayout" class="navigationTwo">Layout</a>
        <a href="/htmlTables" class="navigationTwo">Tables</a>
        <a href="/htmlForm" class="navigationTwo">Form</a>
 </div>

	{% block contentTwo %} {% endblock %}

{% endblock %}

