{% extends "jsMaster.html" %}

{% block contentTwo %}

<div class="examples">
        <div class="theoryContent">
		<p>Conditional statements: if statement to execute if a condition is true. Else statement specifies a block to be executed if the if statement is false.</p>
	</div>

        <div class="arrow">
		&rarr;
        </div>

        <div class="codeExample">
		<p><i>if (condition) { <br> // block of code if the condition is true <br> } else { <br> // block of code if the condition is false <br> }</i></p>
        </div>
</div>
    
<div class = "examples">
        <div class="theoryContent">
		<p>Multiple conditions are done as following:</p> 
        </div>

        <div class="arrow">
		&rarr;
        </div>

        <div class="codeExample">
		<p><i>if (condition1) { <br> // block of code if the condition1 is true <br> } if else (condition2) { <br> // block of code if condition1 is false and condition2 is true <br> } else { <br> // block of code if both of the statements are false <br> }</i></p>
        </div>
</div>

<p class="end-paragraph">Here comes the end of the introduction to JS Conditions. More informaton will be provided in the next lessons. Click the button to continue.</p>
    
<div class="button-container">
        <a href="/jsLoops"><button class="next-button">NEXT</button></a>
</div>

{% endblock %}
