{% extends "master.html" %}

{% block contentHead %}
	<link rel="stylesheet" href="{{ url_for('static', filename='htmlIntro.css') }}">
{% endblock %}

{% block content %}

<div class="pageInfo">
	<div class="content">
		<div class="image">
			<img src="{{ url_for('static', filename='images/jsLogo.png') }}" width="200" height="230"> 
		</div>

		<div class = "text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat</p>
		</div>
	</div>
</div>

<div class = "secondnav">
	<a href="/jsIntro" class="navigationTwo">Introduction</a>
        <a href="/jsVars" class="navigationTwo">Variables</a>
        <a href="/jsArrays" class="navigationTwo">Arrays</a>
        <a href="/jsConditions" class="navigationTwo">Conditions</a>
        <a href="/jsLoops" class="navigationTwo">Loops</a>
        <a href="/jsFunctions" class="navigationTwo">Functions</a>
</div>

	{% block contentTwo %}
	{% endblock %}

{% endblock %}
