{% extends "master.html" %}

{% block contentHead %}
	<link rel="stylesheet" href="{{ url_for('static', filename='knowledgePages.css') }}">
{% endblock %}

{% block content %}

<div class="pageInfo">
	<div class="content">
		<div class="image">
			<img src="{{ url_for('static', filename='images/jsLogo.png') }}" width="200" height="230"> 
		</div>

		<div class = "text">
			<p>JS or JavaScript is a programming text-based scripting language and it is part of the triade in the development of websites. It is one of the most popular languages in the world and of the web. It is used for both the client-side and the server side which helps the user to interact easily with the site and make the pages more interesting. It has APIs for working with text, dates and the DOM but it does not have any input/output.</p>
			<p>HTML and CSS give the website a structure and styling while Java gives the web page interaction and enaging. Its syntax is easy to learn and you will enjoy the basic stuff part of the following web pages. It is similar to Java but it has a lot of differences as well.</p>
		</div>
	</div>
</div>

<div class = "secondnav">
	<a href="/jsIntro" class="navigationTwo">Introduction</a>
        <a href="/jsVars" class="navigationTwo">Variables</a>
        <a href="/jsArrays" class="navigationTwo">Arrays</a>
        <a href="/jsConditions" class="navigationTwo">Conditions</a>
        <a href="/jsLoops" class="navigationTwo">Loops</a>
        <a href="/jsFunctions" class="navigationTwo">Functions</a>
</div>

	{% block contentTwo %} {% endblock %}

{% endblock %}
