<!doctype html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesHome.css') }}">
</head>
<body>
	<nav class = "topnav">
		<a href="/home" class="navigation">Home</a>
		<a href="/html" class="navigation">HTML</a>
		<a href="/css" class="navigation">CSS</a>
		<a href="/javascript" class="navigation">JavaScript</a>
		<a href="/contacts" class="navigation">Contacts</a>
	</nav>
	
	{% block content %} {% endblock %}
	
	<hr>
	<footer>
		<p class="footer-content">Edinburgh Napier University assignment <br> Mady by Simona Georgieva</p>
	</footer>
</body>
</html>
